{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block head %}

<h1 class="font-effect-fire">About Us</h1>

<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-12">
        <div class="icon-box">
            <i class="ri-fire-fill"></i>
            <h3><a href="">Since 9 years</a></h3>
        </div>
    </div>
    <div class="col-xl-4 col-md-8">
        <div class="icon-box">
            <i class="ri-blaze-fill"></i>
            <h3><a href="">4.5★ Rating</a></h3>
        </div>
    </div>
    <div class="col-xl-4 col-md-8">
        <div class="icon-box">
            <i class="ri-meteor-fill"></i>
            <h3><a href="">World Class</a></h3>
        </div>
    </div>


    {% endblock head %}

    {% block body %}

    <section id="about1" class="about1">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="static/img/story.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
              <h3><b>Our Story</b></h3>
              <p class="fst-italic">
                Nine years ago, in a bustling neighborhood, a vision took root as six fitness enthusiasts came together to create a heaven for health and wellness. We shared passion for fitness and a commitment to a healthier community brought them together, and they decided to establish a gym unlike any other.</p>
                <br>
                <p class="fst-italic">

                  With sweat, determination, and a strong partnership, they transformed a humble space into a state-of-the-art fitness center. The gym quickly became a hub for people of all backgrounds seeking to improve their physical well-being. It wasn't just about the weights and treadmills; it was about creating a supportive and motivating environment.</p>
              </p>
              <p class="fst-italic">
                With nine years behind them, the gym's journey was far from over, and they looked forward to many more years of helping people become the best versions of themselves.
              </p>
            </div>
          </div>


        <hr>
  
          <div class="row about-cols">
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about1-col">
                <div class="img">
                  <img src="static/img/mission.jpg" alt="" class="img-fluid">
                  
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                  Empowering Your Journey to Health and Strength: Our Gym is dedicated to providing a supportive and inclusive community where individuals of all fitness levels can discover their full potential.Through expert guidance, state-of-the-art facilities, and a passion for wellness, we aim to inspire, motivate, and transform lives. We believe that every step you take within our gym brings you closer to a healthier, stronger, and happier you. Join us in sculpting not just your body, but a lifestyle that radiates vitality and well-being. 
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about1-col">
                <div class="img">
                  <img src="static/img/plan.webp" alt="" class="img-fluid">
                 
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p>
                  At our gym, our plan is simple yet comprehensive: to provide you with personalized fitness journeys that combine expert guidance and cutting-edge facilities. We prioritize building an inclusive community where everyone feels welcome and motivated to achieve their goals. With progress tracking, diverse classes, and nutrition advice, our aim is to support your holistic wellness. We celebrate every achievement and believe in evolving our approach to match your evolving needs.
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about1-col">
                <div class="img">
                  <img src="static/img/vision.jpg" alt="" class="img-fluid" style="height: 250px;;width: 500px;;">
                  
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                  Transforming Lives Through Fitness: Our Gym envisions a world where individuals are empowered to lead healthier, more fulfilling lives. We aspire to be the catalyst for positive change by fostering a community that embraces fitness as a journey of self-discovery and growth. Our vision is to inspire individuals of all backgrounds to transcend their limits, unlock their potential, and embrace a lifestyle of vitality and well-being.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
  

    {% endblock body %}